@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root {
    --font-family: "Inter", sans-serif;
    --join-container__width: clamp(360px,26vw , 500px);
    --hero-right__width: clamp(390px, 75vw, 1408px);
  }
@mixin fluid-text($min: 16, $max:48){
    font-size: clamp(#{$min}px, #{$max / 1024 * 100}vw, #{$max}px);
  }
.container{
    max-width: 1920px;
    margin: 0 auto;
   
}
.link{
    border-radius: 100px;
        background: #05b3fa;
        padding: 20px 15px;
        font-weight: 700;
        @include fluid-text($min:12,$max:18 );          
        text-transform: uppercase;
        color:#fff;
}
.hero{
    font-family: var(--font-family);
    display: flex;
    &__right{
        width: var(--hero-right__width);
        margin: 0 auto;
        height: 100vh;
    }
}
.left{
    width: clamp(390px,30vw, 512px);
    align-items: center;
    display: flex;
    height: 100vh;
    padding: 0 15px;
    &__reasponds,
    &__geo,
    &__avaliable{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__avaliable::before{
        content:"";
        background-image: url(../public/img/Ellipse\ 1.svg);
        background-size: cover;
        height: clamp(5px,1vw,11px);
    display: block;
    width: clamp(5px,1vw,11px);
    }
    &__reasponds::before{
        content:"";
        background-image: url(../public/img/Circle-Clock--Streamline-Core.svg);
        background-size: cover;
        height: clamp(12px,2vw,25px);
    display: block;
    width: clamp(12px,2vw,25px);

    }
    &__geo::before{
        content:"";
        background-image: url(../public/img/location-pin-3--navigation-map-maps-pin-gps-location.svg);
        background-size: cover;
        height: clamp(12px,2vw,25px);
    display: block;
    width: clamp(12px,2vw,25px);

    }
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__start{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
    &__title{
        
        font-weight: 400;
        @include fluid-text($min:16,$max:40 );      
    }
    &__img{
        width: clamp(50px, 18vw , 300px);
    }
    &__instagram-link{
        color: #000;
        font-weight: 400;
        @include fluid-text($min:12,$max:24 );          
        margin-top: 10px;
    }
    &__state{
        gap: clamp(5px,1vw , 20px) ;
        font-weight: 400;
        @include fluid-text($min:12,$max:20 );        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
    }
    
    &__description{
        margin-top: clamp(10px, 2vw, 20px);
        @include fluid-text($min:10,$max:16 );
        text-align: center;
    }
    &__link{
        
        margin-top: clamp(10px, 3vw ,80px);

    }
    &__link-and-time{
        align-items: center;
    display: flex;
    flex-direction: column;
        
    }
    &__time{
        margin-top: 20px;
        font-weight: 400;
        @include fluid-text($min: 14, $max:20 );
        
color: #000;
        span{
            font-weight: 700;
            
            color: #f32b2b;
        }
    }
    
}
#message-container {
    background: #fff;
    z-index: 10;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 314px;
    padding: 10px;
    border-radius: 20px 20px 0 20px;
    display: flex;
    box-shadow: -3px -3px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out;
    transform: translateY(200%);
    
  }
  .massage-text{
    font-weight: 400;
    font-size: 13px;


  }
  #message-container.show {
    transform: translateY(0%);
  }
  #message-container img {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
  }
  #message-container a {
    color: #000;
    display: flex;
    text-decoration: none;
    font-weight: bold;
  }
  #close-button {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -45px;
    right: 0;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
#end-slide{
    height: 100%;
}
.swiper{
    display: flex;
    align-items: center;
   
    &-wrapper{
        height: 100vh;
        position: relative;
       
    }
    
   
   
    &__bg{
        position: absolute;
        z-index: 1;
        left: -10px;
        top: -10px;
        right: -10px;
        bottom: -10px;
        filter: blur(10px);
    img{
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
   
  
    
}
    &__bg::after{
        content: "";
        position: fixed; /* Фиксируем на одном месте */
    left: 0; right: 0; /* Вся ширин */
    top: 0; bottom: 0; /* Вся высота */
        background: rgba(255, 255, 255, 0.6);
    }
    
    
    &-img{
        position: relative;
        object-fit: cover;
        margin: 0 auto;
        display: block;
        height: 80%;
        width: clamp(390px, 32vw, 610px);
        z-index: 1;
    }
    &-join__container
   {
        position: absolute;
        padding: 20px 20px;
        border-radius: 30px;
        background: #fff;
        bottom: 80px;
        left: calc(50% - var(--join-container__width)/2);
        width: var(--join-container__width);
        display: flex;
        flex-direction: column;
        z-index: 1;
        gap: 20px;
    }
    &-join__p{
        font-weight: 700;
        @include fluid-text($min:18,$max:22 );
        text-align: center;
        color: #000;
    }
    &-join__link{
        margin: 0 auto;
    }
   
    &__navigation{
        position: absolute;
       left: calc(var(--hero-right__width) - 30%);
       top:40vh;
        z-index: 1000;
        
    }
}
.actions{
    display: flex;
    flex-direction: column;
    gap: clamp(20px,5vw , 40px);
}
.prev{
    background: url(../public/img/top.svg)
    center / 100% 100% no-repeat;
}
.next{
    background: url(../public/img/down.svg)
    center / 100% 100% no-repeat;
}
.next.swiper-button-disabled{
    background: url(../public/img/down_disabled.svg)
    center / 100% 100% no-repeat;
}
.prev.swiper-button-disabled{
    background: url(../public/img/top_disabled.svg)
    center / 100% 100% no-repeat;

}
.prev, .next{
    cursor: pointer;
    width: 40px;
    height: 40px;
}
@media (max-width:1024px){
    .swiper__navigation{
        left:calc(var(--hero-right__width) - 30vw)
    }
}
@media (max-width:700px){
    #message-container.show {
        transform: translateY(-280%);
        right: 30px;
      

    }
    .swiper__navigation{
        left:calc(var(--hero-right__width) + 15vw);
    }
    .swiper-join__container{
    bottom: clamp(100px, 35%, 300px)
    }
    .left__start{
        margin-left: 10px;
        margin-top: 0px;
    }
    .left__instagram-link{
        margin-top: 0px;
    }
    .left__state{
        margin-top: 0px;
        flex-direction: column;
        margin-left: 20px;
    }
    .left__description{
        display: flex;
        gap: 20px;
       
        padding: 0px 20px;
    }
    .left__time{
        margin-left: 10px;

    }
    .left__link-and-time{
        text-align: center;
    justify-content: center;
    flex-direction: row;
    padding: 0px 20px;
    width: 100%;
   
    }

   
    .left{
        width: 100vw;
        position: absolute;
        padding: 0px;
    }
    .left__container{
        padding: 20px 0px;
        justify-content: center;
        background: #fff;
        z-index: 2;
        bottom: 0px;
        position: absolute;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        border-radius: 30px 30px 0 0;
    }
    .hero__right{
        width:100vw;
    }



}

@media (max-width:520px){
    .swiper__navigation{
        left:calc(var(--hero-right__width) - 2vw);
        top:28vh
    }
}
@media (max-width:480px){
    .swiper__navigation{
        left:calc(var(--hero-right__width) - 12vw);
        top:28vh
    }
}
@media (max-width:460px){
    .left__link-and-time{
        justify-content: flex-start;
    }
    .left__description{
        text-align: start;
    }
    
}

@media (min-width:460px){
    .swiper-img{
        height: 100%;
    }
}



@media (max-width:420px) {
    .swiper-join__container{
bottom: clamp(100px, 32%, 300px)
}}
@import "./reset"